[submodule ".registry"]
	path = .registry
	url = https://github.com/nenuial/nenuial.r-universe.dev
	branch = HEAD
[submodule "IslamicArt"]
	path = IslamicArt
	url = https://github.com/lambdamoses/IslamicArt
	registered = false
[submodule "geodata"]
	path = geodata
	url = https://github.com/Nenuial/geodata
[submodule "geographer"]
	path = geographer
	url = https://github.com/Nenuial/geographer
[submodule "geotools"]
	path = geotools
	url = https://github.com/Nenuial/geotools
[submodule "geovizr"]
	path = geovizr
	url = https://github.com/Nenuial/geovizr
[submodule "ggeo"]
	path = ggeo
	url = https://github.com/Nenuial/ggeo
[submodule "ochRe"]
	path = ochRe
	url = https://github.com/hollylkirk/ochRe
	registered = false
[submodule "owidR"]
	path = owidR
	url = https://github.com/piersyork/owidR
	registered = false
[submodule "rnotion"]
	path = rnotion
	url = https://github.com/Nenuial/rnotion
	registered = false
[submodule "rrricanes"]
	path = rrricanes
	url = https://github.com/ropensci/rrricanes
	registered = false
[submodule "swissdd"]
	path = swissdd
	url = https://github.com/politanch/swissdd
	registered = false
[submodule "themakart"]
	path = themakart
	url = https://github.com/Nenuial/themakart
